@charset "UTF-8";
@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf);
}

body {
    font-family: 'idroid';
    font-weight: normal;
    color: black;

    background-color: #55e29c;
    margin: 0%;
}

header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'idroid.otf';

    height: 130px;
    width: auto;
    background-color: darkgreen;
    padding: 5px;

    background-image: linear-gradient(180deg, rgb(81, 139, 81), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    background-attachment: fixed;

    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.493);
}

p {
    text-align: justify;
    text-indent: 20px; 
}

a {
    color: darkgreen;
    font-weight: bold;
    text-decoration: none;
}

span {
    color: darkgreen;
    font-weight: bold;
}

a.especial::after {
    content: ' ☄ ';
}

p#sub-header {
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: 'idroid.otf';
}

div.links-header > a {
    margin: 5px;
    text-decoration: none;
    color: white;
}

div.links-header > a:hover {
    background-color: rgba(170, 218, 170, 0.603);
    padding: 5px;
    border-radius: 5px;
}

h1 {
    color: darkgreen;
}

h1#header {
    color: white;
    text-align: center;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;

    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    margin-top: auto;
    margin-bottom: 7px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.425);
}

h2 {
    color: darkgreen;
    background-image: linear-gradient(90deg, #55e29b77, #55e29b41, #55e29b00);
    padding-left: 5px;
}

div#video {
    background-color: rgb(0, 43, 0);
    padding: 10px;
    
}

ul li:before {
    content: '✓ ';
}

div#box-footer {
    background-color: #55e29b65;

    padding: 0px 4px 2px 4px;
    border-radius: 10px;
}

div#box-footer > h2 {
    background-color: rgb(0, 85, 0);
    color: white;
    font-weight: normal;
    font-size: 20px;

    padding: 5px;

    border-radius: 10px 10px 0px 0px;

}

footer {
    background-color:  rgb(0, 43, 0);
    padding: 4px;
    color: white;
}

footer > p {
    margin: 0px;
    text-align: center;
}
