@charset "UTF-8";

/* Color Theme Swatches in Hex */
.Projeto-site-android-1-hex { color: #124214; }
.Projeto-site-android-2-hex { color: #73DB79; }
.Projeto-site-android-3-hex { color: #34C23B; }
.Projeto-site-android-4-hex { color: #264227; }
.Projeto-site-android-5-hex { color: #278F2C; }

/* Color Theme Swatches in RGBA */
.Projeto-site-android-1-rgba { color: rgba(18, 66, 20, 1); }
.Projeto-site-android-2-rgba { color: rgba(115, 219, 121, 1); }
.Projeto-site-android-3-rgba { color: rgba(52, 194, 59, 1); }
.Projeto-site-android-4-rgba { color: rgba(38, 66, 39, 1); }
.Projeto-site-android-5-rgba { color: rgba(39, 143, 44, 1); }

body {
    background-color: #73db7863;
}