@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/* Color Theme Swatches in Hex */
.Background-of-empty-room-with-spotlights-and-lights,-abstract-purple-background-with-neon-glow-1-hex { color: #5D2973; }
.Background-of-empty-room-with-spotlights-and-lights,-abstract-purple-background-with-neon-glow-2-hex { color: #752DA6; }
.Background-of-empty-room-with-spotlights-and-lights,-abstract-purple-background-with-neon-glow-3-hex { color: #7C05F2; }
.Background-of-empty-room-with-spotlights-and-lights,-abstract-purple-background-with-neon-glow-4-hex { color: #291340; }
.Background-of-empty-room-with-spotlights-and-lights,-abstract-purple-background-with-neon-glow-5-hex { color: #3F04BF; }

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Marcellus', serif;
    --fonte3: 'Cookie', cursive;

    --cor0: #7C05F2;
    --cor1: #752DA6;
    --cor2: #5D2973;
    --cor3: #3F04BF;
    --cor4: #291340;
    --cor-preto: #000000;
    --cor-branco: #ffffff;
    --cor-sombra: #00000062;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: var(--cor-branco);
    font-family: var(--fonte1);
}

header {
    text-align: center;
    background-color: var(--cor4);
    color: white;
    font-variant: small-caps;
    margin: auto;
    box-shadow: inset 2px 2px 4px var(--cor-sombra);
}

header h1 {
    font-family: var(--fonte2);
    font-size: 7.5vw;
    font-weight: bold;
    padding-top: 50px;
    text-shadow: 2px 2px 2px var(--cor-sombra);
}

header p {
    padding-bottom: 50px;
    text-shadow: 2px 2px 2px var(--cor-sombra);
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;

    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
    color: var(--cor-branco);
    text-shadow: 1px 1px 1px var(--cor-sombra);

}

section.normal {
    background-color: var(--cor1);
}

section.normal > p {
    background-color: var(--cor4);
    display: inline-block; /* caixa que se adapta ao tamanho do conteudo */
    padding: 30px;
    border-radius: 10px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.438);
    font-size: 1.7em;
}

section.imagem {
    background-color: var(--cor2);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.411) ;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block; /* caixa que se adapta ao tamanho do conteudo */
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(15, 15, 15, 0.473);
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.438);
    font-size: 1.6em;
}

section#img01 {
    background-image: url("../imagens/fotos-com-amor\ \(2\).jpeg"); 
    background-position: center left;
}

section#img02 {
    background-image: url("../imagens/fotos-com-amor\ \(3\).jpeg");
    background-position: center left;
}

section#img03 {
    background-image: url("../imagens/fotos-com-amor\ \(6\).jpeg"); 
    background-position: center center;
}

section#img04 {
    background-image: url("../imagens/fotos-com-amor\ \(10\).jpeg");
    background-position: center right;
}

section#img05 {
    background-image: url("../imagens/fotos-com-amor\ \(12\).jpeg");
    background-position: center left;
}

section#img06 {
    background-image: url("../imagens/fotos-com-amor\ \(14\).jpeg");
    background-position: center center;
}

section#img07 {
    background-image: url("../imagens/fotos-com-amor\ \(15\).jpeg");
    background-position: center center;
}

section#img08 {
    background-image: url("../imagens/fotos-com-amor\ \(16\).jpeg");
    background-position: center left;
}

section#img09 {
    background-image: url("../imagens/fotos-com-amor\ \(17\).jpeg");
    background-position: center center;
}

section#img10 {
    background-image: url("../imagens/fotos-com-amor\ \(18\).jpeg");
    background-position: center left;
}

section#img11 {
    background-image: url("../imagens/fotos-com-amor\ \(19\).jpeg");
    background-position: center center;
}

section#img12 {
    background-image: url("../imagens/fotos-com-amor\ \(20\).jpeg");
    background-position: center center;
}

section#img13 {
    background-image: url("../imagens/fotos-com-amor\ \(21\).jpeg");
    background-position: center left;
}

section#img14 {
    background-image: url("../imagens/fotos-com-amor\ \(22\).jpeg");
    background-position: center left;
}

section#img15 {
    background-image: url("../imagens/fotos-com-amor\ \(23\).jpeg");
    background-position: center left;
}
section#img16 {
    background-image: url("../imagens/fotos-com-amor\ \(24\).jpeg");
    background-position: center center;
}

footer {
    font-family: var(--fonte1);
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
